.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px; /* 5px rounded corners */
    width: 12rem;
    height: 15rem;
    margin: 2rem;
    padding: 50px;
    background-color: #eaf9ed;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
    text-align: center;
  }

  .Trips{
    display: flex;
    align-items: center;
    justify-content: center;
  }


.cardAdd {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px; /* 5px rounded corners */
  width: 12rem;
  height: 15rem;
  margin: 2rem;
  padding: 50px;
  background-color: #eaf9ed;
}
  
  /* On mouse-over, add a deeper shadow */
.cardAdd:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}
  